<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用车申请列表</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.13.2/theme-chalk/index.css">
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container style="height: 600px; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="['1', '2']"
                     default-active="2-2">
                <el-submenu index="1">
                    <!--调度中心功能-->
                    <template slot="title"><i class="el-icon-user"></i>用户管理</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1" @click="location.href='index.html' "><i
                                class="el-icon-document-checked"></i>用户列表
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="2">
                    <!--调度中心功能-->
                    <template slot="title"><i class="el-icon-truck"></i>车辆管理</template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1" @click="location.href='car-manage.html' "><i
                                class="el-icon-document-checked"></i>车辆信息
                        </el-menu-item>
                        <el-menu-item index="2-2" @click="location.href='carctrl-manage.html' "><i
                                class="el-icon-folder-add"></i>车辆调度
                        </el-menu-item>
                        <el-menu-item index="2-3" @click="location.href='carSave-manage.html'"><i class="el-icon-setting"></i>车辆保障详情</el-menu-item>
                        <el-menu-item index="2-4" @click="location.href='consume-manage.html' "><i
                                class="el-icon-s-tools"></i>耗材管理
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="3">
                    <!--调度中心功能-->
                    <template slot="title"><i class="el-icon-truck"></i>实验管理</template>
                    <el-menu-item-group>
                        <el-menu-item index="3-1" @click="location.href='experi-manage.html' "><i
                                class="el-icon-document-checked"></i>实验信息
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown style="padding-top: 10px;">
                      <span class="el-dropdown-link">
                        <el-avatar :src="user.avatar"></el-avatar>
                      </span>
                    <el-dropdown-menu slot="dropdown">
                        <!--<el-dropdown-item>-->
                        <!--<i class="el-icon-user"></i>-->
                        <!--<el-link href="#">个人中心</el-link>-->
                        <!--</el-dropdown-item>-->
                        <el-dropdown-item>
                            <!--<i class="el-icon-right"></i>-->
                            <el-link @click="logout">退出</el-link>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-header>

            <el-main>
                <el-card shadow="never" class="card">
                    <div slot="header" class="clearfix">
                        <span>各教育局用车申请列表</span>
                    </div>
                    <div id="charts_one" style="width:100%;min-height:300px">
                        <el-form :inline="true">
                            <el-form-item label="审核状态">
                                <el-select v-model="page_data.search.edu_status" placeholder="审核状态">
                                    <el-option v-for="(option, index) in options" :key="option.value"
                                               :label="option.name" :value="option.value"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-form>
                        <el-table
                                :data="carApply_data"
                                max-height="350"
                                border
                                :default-sort = "{prop: 'experimentApply.experi_date', order: 'descending'}"
                                style="width: 100%">
                            <el-table-column type="index" label="序号" width="50" align="center"></el-table-column>
                            <el-table-column label="实验名称" align="center">
                                <template slot-scope="scope">
                                    {{scope.row.experimentApply.experiment.experi_name}}
                                </template>
                            </el-table-column>
                            <el-table-column property="edu_name" label="教育局名称" align="center"></el-table-column>
                            <el-table-column property="experimentApply.schoolName" label="学校名称"
                                             align="center"></el-table-column>
                            <!--<el-table-column property="edu_principal" label="教育局负责人" align="center"></el-table-column>-->
                            <!--<el-table-column property="edu_phone" label="教育局联系方式" align="center"></el-table-column>-->
                            <el-table-column property="experimentApply.experi_date" label="实验日期" sortable
                                             align="center"></el-table-column>
                            <el-table-column label="实验人数" property="experimentApply.experi_num"
                                             align="center"></el-table-column>
                            <el-table-column label="审核状态" align="center">
                                <template slot-scope="scope">
                                    <el-tag :type="scope.row.edu_status === 1 ? '' : (scope.row.edu_status === 2 ? 'success' : 'danger')">
                                        {{scope.row.edu_status === 1 ? '未审核' : (scope.row.edu_status === 2 ? '已通过' :
                                        '未通过')}}
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column label="操作" width="120" align="center">
                                <template slot-scope="scope">
                                    <el-tooltip class="item" effect="dark" content="查看详情" placement="left">
                                        <el-button type="primary" size="mini" @click="checkDetail(scope.row.id)"
                                                   icon="el-icon-edit" circle></el-button>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="车辆调度" placement="right">
                                        <el-button v-show="scope.row.edu_status === 2"
                                                   :disabled="scope.row.ctrlStatus === 1 || scope.row.ctrlStatus === 2"
                                                   type="warning" size="mini"
                                                   @click="carCtrl(scope.row.id, scope.row.experimentApply.experi_date)" icon="el-icon-truck"
                                                   circle></el-button>
                                    </el-tooltip>
                                    <!--用车申请详情模态框-->
                                    <el-dialog width="42%" center :visible.sync="dialogFormVisible" top="8vh">
                                        <div slot="title" class="dialog-title">
                                            <h2>用车申请详情</h2>
                                        </div>
                                        <el-form :model="carApply_detail" status-icon="true">
                                            <el-form-item prop="experi_name" label="实&ensp;验&ensp;名&ensp;称">
                                                <el-input prefix-icon="el-icon-user"
                                                          :disabled="true"
                                                          v-model="carApply_detail.experimentApply.experiment.experi_name"
                                                          autocomplete="off" style=" width: 222px"></el-input>
                                            </el-form-item>
                                            <el-form-item prop="edu_name" label="&ensp;教&emsp;育&emsp;局">
                                                <el-input prefix-icon="el-icon-user"
                                                          :disabled="true"
                                                          v-model="carApply_detail.edu_name"
                                                          autocomplete="off" style=" width: 222px"></el-input>
                                            </el-form-item>
                                            <el-form-item prop="edu_principal" label="教育局负责人">
                                                <el-input prefix-icon="el-icon-user"
                                                          :disabled="true"
                                                          v-model="carApply_detail.edu_principal"
                                                          autocomplete="off" style=" width: 222px"></el-input>
                                            </el-form-item>

                                            <el-form-item prop="edu_phone" label="教育局电话&emsp;">
                                                <el-input prefix-icon="el-icon-phone-outline"
                                                          style=" width: 222px"
                                                          :disabled="true"
                                                          placeholder="请输入联系方式"
                                                          v-model="carApply_detail.edu_phone"
                                                          autocomplete="off"
                                                          clearable></el-input>
                                            </el-form-item>
                                            <el-form-item prop="schoolName" label="学&ensp;校&ensp;名&ensp;称">
                                                <el-input prefix-icon="el-icon-user"
                                                          :disabled="true"
                                                          v-model="carApply_detail.experimentApply.schoolName"
                                                          autocomplete="off" style=" width: 222px"></el-input>
                                            </el-form-item>
                                            <el-form-item prop="principal" label="学校负责人&emsp;">
                                                <el-input prefix-icon="el-icon-user"
                                                          :disabled="true"
                                                          v-model="carApply_detail.experimentApply.principal"
                                                          autocomplete="off" style=" width: 222px"></el-input>
                                            </el-form-item>

                                            <el-form-item prop="phone_number" label="学校联系方式">
                                                <el-input prefix-icon="el-icon-phone-outline"
                                                          style=" width: 222px"
                                                          :disabled="true"
                                                          placeholder="请输入联系方式"
                                                          v-model="carApply_detail.experimentApply.phone_number"
                                                          autocomplete="off"
                                                          clearable></el-input>
                                            </el-form-item>
                                            <el-form-item prop="school_address" label="学&ensp;校&ensp;地&ensp;址">
                                                <el-input prefix-icon="el-icon-phone-outline"
                                                          style=" width: 222px"
                                                          :disabled="true"
                                                          placeholder="请输入联系方式"
                                                          v-model="carApply_detail.experimentApply.school_address"
                                                          autocomplete="off"
                                                          clearable></el-input>
                                            </el-form-item>
                                            <el-form-item prop="experi_date" label="实&ensp;验&ensp;日&ensp;期">
                                                <el-date-picker type="date"
                                                                style=" width: 222px"
                                                                :disabled="true"
                                                                v-model="carApply_detail.experimentApply.experi_date"
                                                ></el-date-picker>
                                            </el-form-item>
                                            <el-form-item prop="experi_num" label="实&ensp;验&ensp;人&ensp;数">
                                                <el-input prefix-icon="el-icon-user"
                                                          style=" width: 222px"
                                                          :disabled="true"
                                                          v-model="carApply_detail.experimentApply.experi_num"
                                                          autocomplete="off"
                                                          clearable></el-input>
                                            </el-form-item>
                                            <el-form-item prop="edu_instruction" label="用车申请说明">
                                                <el-input prefix-icon="el-icon-lock"
                                                          style=" width: 222px"
                                                          :disabled="true"
                                                          type="textarea"
                                                          v-model="carApply_detail.edu_instruction"></el-input>
                                            </el-form-item>
                                            <el-form-item prop="result" label="驳&ensp;回&ensp;原&ensp;因"
                                                          v-show="carApply_detail.edu_status===3">
                                                <el-input prefix-icon="el-icon-lock"
                                                          style=" width: 222px"
                                                          :disabled="true"
                                                          type="textarea"
                                                          v-model="carApply_detail.edu_result"></el-input>
                                            </el-form-item>
                                        </el-form>
                                        <div slot="footer" class="dialog-footer"
                                             v-show="carApply_detail.edu_status===1">
                                            <el-tooltip class="item" effect="dark" content="驳回" placement="top-start">
                                                <el-button type="danger" @click="reject" icon="el-icon-edit"
                                                           circle></el-button>
                                            </el-tooltip>
                                            <el-tooltip class="item" effect="dark" content="通过审核" placement="top-end">
                                                <el-popconfirm
                                                        confirmButtonText="确认删除"
                                                        cancelButtonText="取消"
                                                        confirmButtonType="danger"
                                                        cancelButtonType="success"
                                                        @onConfirm="updateState"
                                                        title="确认通过审核吗？">
                                                    <el-button type="success" slot="reference" icon="el-icon-check"
                                                               circle></el-button>
                                                </el-popconfirm>
                                            </el-tooltip>
                                        </div>
                                    </el-dialog>

                                    <!--车辆调度模态框-->
                                    <el-dialog width="42%" center :visible.sync="carCtrlDialog" top="8vh">
                                        <div slot="title" class="dialog-title">
                                            <h2>填写车辆调度信息</h2>
                                        </div>
                                        <el-form :model="carCtrlInfo"
                                                 status-icon="true"
                                                 :rules="carApplyRules">
                                            <el-form-item prop="car_num" label="车辆号码">
                                                <el-select size="medium"
                                                           v-model="carCtrlInfo.car_id"
                                                           style="width: 300px"
                                                           placeholder="请选择该实验的车辆">
                                                    <el-option
                                                            v-for="(car, index) in cars"
                                                            :key="index"
                                                            :label="car.car_name + ' ' + car.car_num "
                                                            :value="car.id">
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>

                                            <el-form-item prop="teacher_id" label="实&ensp;验&ensp;员">
                                                <el-select size="medium"
                                                           v-model="carCtrlInfo.teacher_id"
                                                           style="width: 300px"
                                                           placeholder="请选择该车辆的实验员">
                                                    <el-option
                                                            v-for="(teacher, index) in teachers"
                                                            :key="index"
                                                            :label="teacher.realname"
                                                            :value="teacher.id">
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>

                                            <el-form-item prop="driver_id" label="司&emsp;&emsp;机">
                                                <el-select size="medium"
                                                           v-model="carCtrlInfo.driver_id"
                                                           style="width: 300px"
                                                           placeholder="请选择该车辆的司机">
                                                    <el-option
                                                            v-for="(driver, index) in drivers"
                                                            :key="index"
                                                            :label="driver.realname"
                                                            :value="driver.id">
                                                    </el-option>
                                                </el-select>
                                            </el-form-item>
                                            <el-form-item prop="consume_id"
                                                          v-for="(consume, index) in carCtrlInfo.consumeList"
                                                          label="耗材名称">
                                                <el-input placeholder="请输入耗材数量" v-model="consume.cost_count"
                                                          class="input-with-select" style="width: 300px">
                                                    <el-select slot="prepend" v-model="consume.consume_id"
                                                               size="medium" style="width: 100px"
                                                               placeholder="耗材">
                                                        <el-option
                                                                v-for="(selectConsume, index) in consumes"
                                                                :key="index"
                                                                :label="selectConsume.name"
                                                                :value="selectConsume.id"
                                                        ></el-option>
                                                    </el-select>
                                                    <el-button slot="append">
                                                        <span v-text="getConsumeUnit(consume.consume_id)"></span>
                                                    </el-button>
                                                </el-input>
                                                <el-button @click.prevent="removeConsume(consume)">删除</el-button>
                                            </el-form-item>

                                            <!--<el-form-item prop="cost_count" label="耗材数量">
                                            <el-select v-model="carCtrlInfo.consume"
                                                           size="medium"
                                                           placeholder="耗材">
                                                    <el-option
                                                            v-for="(consume, index) in consumes"
                                                            :key="index"
                                                            :label="consume.name"
                                                            :value="consume.id"
                                                    ></el-option>
                                                </el-select>
                                                <el-input prefix-icon="el-icon-lock"
                                                          style=" width: 222px"
                                                          placeholder="请输入耗材数量"
                                                          v-model="carCtrlInfo.cost_count">
                                                    <template slot="append">单位</template>
                                                </el-input>
                                            </el-form-item>-->
                                        </el-form>
                                        <div slot="footer" class="dialog-footer">
                                            <el-button type="success" @click="addConsume">新增耗材</el-button>
                                            <el-button type="primary" @click="uploadCarCtrl">确认派车</el-button>
                                        </div>
                                    </el-dialog>
                                    <!--<el-button size="mini" type="danger" slot="reference" icon="el-icon-delete"-->
                                    <!--@click="delete_user(scope.row.id)"></el-button>-->
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                                @size-change="page_size_change"
                                @current-change="current_change"
                                :current-page="page_data.current_page"
                                :page-sizes="[5, 10, 15, 50]"
                                :page-size="page_data.page_size"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="page_data.page_total"
                                style="margin-top:10px"
                        ></el-pagination>
                    </div>
                </el-card>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="js/index.js"></script>
<!--<script src="https://cdn.bootcss.com/element-ui/2.13.2/index.js"></script>-->
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script src="js/common.js"></script>
<!--<script src="js/date-format.js"></script>-->

<script>
    new Vue({
        el: "#app",
        data: {
            tableData: [],
            user: {},
            carApply_data: [],
            // experiment_data: [],
            page_data: {
                page_size: 10,
                current_page: 1,
                page_total: 200,
                search: {
                    edu_status: -1
                }
            },
            teachers: [],
            drivers: [],
            cars: [],
            consumes: [],
            carCtrlData: [],
            carCtrlInfo: {
                consumeList: [
                    {consume_id: '', cost_count: undefined}
                ]
            },
            dialogFormVisible: false,
            experiment_detail: [],
            carApply_detail: {
                experimentApply: {
                    experiment: {}
                }
            },
            options: [
                {value: -1, name: "全部"},
                {value: 1, name: "未审核"},
                {value: 2, name: "已通过"},
                {value: 3, name: "未通过"},
            ],
            applyId: -1,
            carCtrlDialog: false,
            carApplyRules: {
                edu_principal: [
                    {required: true, message: '请输入负责人名称', trigger: 'blur'},
                    {min: 2, max: 5, message: '长度在 4 到 5 个字符', trigger: 'blur'}
                ],
                edu_phone: [{required: true, message: '请输入联系方式', trigger: 'blur'},
                    {min: 11, max: 11, message: '请输入准确的11位手机号码', trigger: 'blur'}],
                edu_instruction: [{required: true, message: '请输入申请说明', trigger: 'blur'}],
            }
        },
        methods: {
            verify() {
                axios.get("user/verify").then(({data}) => {
                    if (data) {
                        this.user = data;
                        this.getPageCarApplyData();
                    } else {
                        location.href = "login.html"
                    }
                })
            },
            logout() {
                axios.post("user/logout").then(()=> {
                    location.href="login.html";
                })
            },
            updateState() {
                axios.post("carApply/" + this.carApply_detail.id + "/status/" + 2).then(({data}) => {
                    if (data.flag) {
                        this.$message.success(data.message);
                        location.href = "carctrl-manage.html"
                    } else {
                        this.$message.error(data.message)
                    }
                })
            },
            reject() {
                this.$prompt('请输入驳回原因', '原因', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                }).then(({value}) => {
                    axios.post("carApply/" + this.carApply_detail.id + "/status/" + 3 + "/edu_result/" + value)
                        .then(({data}) => {
                            if (data.flag) {
                                this.$message.success(data.message);
                                location.href = "carApply-manage.html"
                            } else {
                                this.$message.error(data.message)
                            }
                        })
                })
            },
            checkDetail(id) {
                this.dialogFormVisible = true;
                axios.get("carApply/getById/" + id).then(({data}) => {
                    this.carApply_detail = data;
                })
            },
            getPageCarApplyData() {
                axios.get("carApply/" + this.user.id + "/" + this.page_data.current_page + "/" + this.page_data.page_size + "?status=" + this.page_data.search.edu_status).then(({data}) => {
                    this.carApply_data = data.data;
                    this.carApply_data.forEach(data => {
                        data.experimentApply.experi_date = data.experimentApply.experi_date.substring(0, 10);
                    });
                    this.page_data.page_total = data.total;
                })
            },
            page_size_change(page_size) {
                this.page_data.page_size = page_size;
            },
            current_change(click_page) {
                this.page_data.current_page = click_page;
            },
            carCtrl(applyId,experi_date) {
                this.carCtrlDialog = true;
                this.carCtrlInfo.experi_date=lab.formatDate(experi_date);
                this.applyId = applyId;
                axios.get("getAllDrivers/experi_date/" + this.carCtrlInfo.experi_date.substring(0, 10)).then(({data}) => {
                    this.drivers = data;
                });
                axios.get("getAllTeachers/experi_date/" + this.carCtrlInfo.experi_date.substring(0, 10)).then(({data}) => {
                    this.teachers = data;
                });
                axios.get("car/getAllCars/experi_date/" + this.carCtrlInfo.experi_date.substring(0, 10)).then(({data}) => {
                    this.cars = data;
                });
                axios.get("consume/getAllConsumes/"+this.applyId).then(({data}) => {
                    this.consumes = data;
                });
            },
            // uploadCarApply() {
            //     axios.post("carApply/" + this.applyId + '/' + this.user.id, this.eduCarApplyInfo).then(({data}) => {
            //         if (data.flag) {
            //             this.$message.success(data.message);
            //             location.href = "eubreau.html";
            //         } else {
            //             this.$message.error(data.message)
            //         }
            //     })
            // },
            //获取耗材数量单位
            getConsumeUnit(consumeId) {
                if (consumeId === '') return '单位';
                let temp = this.consumes.filter(consume => consume.id === consumeId);
                if (temp) {
                    return temp[0].unit;
                }
                return "单位";
            },
            //获取耗材库存
            getConsumeStock(consumeId){
                if (consumeId === '') return -1;
                let temp = this.consumes.filter(consume => consume.id === consumeId);
                if (temp) {
                    return temp[0].stock;
                }
                return -1;
            },
            addConsume() {
                this.carCtrlInfo.consumeList.push({consume_id: '', cost_count: undefined})
            },
            removeConsume(item) {
                let index = this.carCtrlInfo.consumeList.indexOf(item);
                if (index !== -1) {
                    this.carCtrlInfo.consumeList.splice(index, 1)
                }
            },
            uploadCarCtrl() {
                console.log(this.carCtrlInfo);
                let unitList = ['台', '个', '支'];
                this.carCtrlInfo.consumeList.forEach(consume => {
                    // 非空
                    if (consume.consume_id === '' || consume.cost_count === undefined) {
                        this.$message.error("请选择耗材并输入数量！");
                        return;
                    }
                    // 数量不能小于0
                    if (consume.cost_count <= 0) {
                        this.$message.error("所有的耗材数量都不能小于0！");
                        return;
                    }

                    //数量不能大于库存
                    if (consume.cost_count > this.getConsumeStock(consume.consume_id)) {
                        this.$message.error("耗材数量都不能大于！");
                        return;
                    }
                    // 数量与单位的校验
                    if (unitList.includes(this.getConsumeUnit(consume.consume_id)) &&
                        consume.cost_count % 1 !== 0) {
                        this.$message.error("数量与单位不匹配！");
                        return;
                    }
                });
                // 发送请求
                axios.post("carCtrl/uploadCarCtrl/"+this.applyId,this.carCtrlInfo).then(({data}) => {
                    if (data.flag){
                        this.$message.success(data.message);
                        location.href="carctrl-manage.html"
                    } else{
                        this.$message.error(data.message);
                    }
                })

            }
        },
        created() {
            this.verify();
            axios.get("carCtrl/getCarCtrl").then(({data}) => {
                this.carCtrlData=data;
            })
        },
        watch: {
            page_data: {
                deep: true,
                handler() {
                    this.getPageCarApplyData();
                }
            }
        }
    })
</script>
</html>