<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>车辆保障列表</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.13.2/theme-chalk/index.css">
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container style="height: 600px; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="['1', '2']"
                     default-active="2-3">
                <el-submenu index="1">
                    <!--调度中心功能-->
                    <template slot="title"><i class="el-icon-user"></i>用户管理</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1" @click="location.href='index.html' "><i class="el-icon-document-checked"></i>用户列表</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="2">
                    <!--调度中心功能-->
                    <template slot="title"><i class="el-icon-truck"></i>车辆管理</template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1" @click="location.href='car-manage.html' "><i class="el-icon-document-checked"></i>车辆信息</el-menu-item>
                        <el-menu-item index="2-2" @click="location.href='carctrl-manage.html' "><i class="el-icon-folder-add"></i>车辆调度</el-menu-item>
                        <el-menu-item index="2-3"><i class="el-icon-setting"></i>车辆保障详情</el-menu-item>
                        <el-menu-item index="2-4" @click="location.href='consume-manage.html' "><i class="el-icon-s-tools"></i>耗材管理</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="3">
                    <!--调度中心功能-->
                    <template slot="title"><i class="el-icon-truck"></i>实验管理</template>
                    <el-menu-item-group>
                        <el-menu-item index="3-1" @click="location.href='experi-manage.html' "><i
                                class="el-icon-document-checked"></i>实验信息
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown style="padding-top: 10px;">
                      <span class="el-dropdown-link">
                        <el-avatar :src="user.avatar"></el-avatar>
                      </span>
                    <el-dropdown-menu slot="dropdown">
                        <!--<el-dropdown-item>-->
                        <!--<i class="el-icon-user"></i>-->
                        <!--<el-link href="#">个人中心</el-link>-->
                        <!--</el-dropdown-item>-->
                        <el-dropdown-item>
                            <!--<i class="el-icon-right"></i>-->
                            <el-link @click="logout">退出</el-link>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-header>

            <el-main>
                <el-card shadow="never" class="card">
                    <div slot="header" class="clearfix">
                        <span>实验列表</span>
                        <el-button
                                type="success"
                                size="small"
                                icon="el-icon-plus"
                                style="float:right"
                                @click="addCarSave"
                        >新增</el-button>
                        <!--新增实验信息对话框-->
                        <el-dialog title="车辆保障信息" :visible.sync="addCarSaveVisible">
                            <el-form :model="add_carSave" inline="true">
                                <el-form-item  label="车牌号码">
                                    <!--<el-input prefix-icon="el-icon-phone-school" placeholder="请输入您所在的学校" v-model="user.schoolName" autocomplete="off"-->
                                    <!--clearable></el-input>-->
                                    <el-autocomplete
                                            class="inline-input"
                                            prefix-icon="el-icon-phone-car"
                                            v-model="add_carSave.car_num"
                                            :fetch-suggestions="querySearchCar"
                                            value-key="car_num"
                                            placeholder="请输入车牌号码"
                                    ></el-autocomplete>
                                </el-form-item>
                                <el-form-item prop="save_item" label="保障项目">
                                    <el-input prefix-icon="el-icon-user" placeholder="请输入保障项目"
                                              v-model="add_carSave.save_item" autocomplete="off"
                                              clearable></el-input>
                                </el-form-item>
                                <el-form-item prop="save_date" label="保障日期">
                                    <el-date-picker type="date"
                                                    :picker-options="pickerOptions"
                                                    placeholder="请选择保障日期"
                                                    v-model="add_carSave.save_date"
                                    ></el-date-picker>
                                </el-form-item>
                                <el-form-item prop="save_pay" label="保障费用">
                                    <el-input prefix-icon="el-icon-phone-outline"
                                              placeholder="请输入保障费用（元）"
                                              v-model="add_carSave.save_pay"
                                              autocomplete="off"
                                              clearable></el-input>
                                </el-form-item>
                                <el-form-item prop="save_desc" label="保障描述">
                                    <el-input prefix-icon="el-icon-user"
                                              placeholder="请输入保障描述"
                                              v-model="add_carSave.save_desc"
                                              autocomplete="off"
                                              clearable></el-input>
                                </el-form-item>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="addCarSaveVisible = false">取 消</el-button>
                                <el-button type="primary" @click="insert_carSave">确 定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                    <div id="charts_one" style="width:100%;min-height:300px">
                        <el-table
                                :data="carSave_data"
                                max-height="350"
                                border
                                :default-sort = "{prop: 'save_date', order: 'descending'}"
                                style="width: 100%">
                            <el-table-column type="index" label="序号" width="50" align="center"></el-table-column>
                            <el-table-column property="car.car_num" label="车牌号码" align="center"></el-table-column>
                            <el-table-column property="save_item" label="保障项目" align="center"></el-table-column>
                            <el-table-column property="save_pay" label="保障费用（元）" align="center"></el-table-column>
                            <el-table-column property="save_date" sortable label="保障日期" align="center"></el-table-column>
                            <el-table-column property="save_desc" label="保障描述" align="center"></el-table-column>
                            <el-table-column property="realName" label="经手人" align="center"></el-table-column>
                            <el-table-column label="操作" width="120" align="center">
                                <template slot-scope="scope">
                                    <el-button size="mini" type="success" icon="el-icon-edit"
                                               @click="editor_car_Save(scope.row.id)">
                                    </el-button>
                                    <el-dialog title="车辆保障信息" :visible.sync="dialogFormVisible">
                                        <el-form :model="edit_carSave" inline="true">
                                            <el-form-item prop="car.car_num" label="&emsp;车牌号码">
                                                <el-input prefix-icon="el-icon-truck"
                                                          placeholder="请输入车牌号码"
                                                          :disabled="true"
                                                          v-model="edit_carSave.car.car_num"
                                                          autocomplete="off"
                                                          clearable></el-input>
                                            </el-form-item>
                                            <el-form-item prop="save_item" label="&emsp;保障项目">
                                                <el-input prefix-icon="el-icon-setting"
                                                          placeholder="请输入保障项目"
                                                          v-model="edit_carSave.save_item"
                                                          autocomplete="off"
                                                          clearable></el-input>
                                            </el-form-item>
                                            <el-form-item prop="save_pay" label="保障费用">
                                                <el-input prefix-icon="el-icon-coin"
                                                          placeholder="请输入保障费用（元）"
                                                          v-model="edit_carSave.save_pay"
                                                          autocomplete="off"
                                                          clearable></el-input>
                                            </el-form-item>
                                            <el-form-item prop="save_date" label="&emsp;保障日期">
                                                <el-date-picker type="date"
                                                                :picker-options="pickerOptions"
                                                                placeholder="请选择保障日期"
                                                                autocomplete="off"
                                                                clearable

                                                                v-model="edit_carSave.save_date"
                                                ></el-date-picker>
                                            </el-form-item>
                                            <el-form-item prop="save_desc" label="&emsp;保障描述">
                                                <el-input prefix-icon="el-icon-tickets"
                                                          placeholder="请输入保障描述"
                                                          v-model="edit_carSave.save_desc"
                                                          autocomplete="off"
                                                          clearable></el-input>
                                            </el-form-item>
                                            <el-form-item prop="realName" label="&emsp;经手人">
                                                <el-input prefix-icon="el-icon-user"
                                                          v-model="edit_carSave.realName"
                                                          :disabled="true"
                                                          autocomplete="off"
                                                          clearable></el-input>
                                            </el-form-item>
                                        </el-form>
                                        <div slot="footer" class="dialog-footer">
                                            <el-button @click="dialogFormVisible = false">取 消</el-button>
                                            <el-button type="primary" @click="update_carSave">确 定</el-button>
                                        </div>
                                    </el-dialog>
                                    <el-popconfirm
                                            confirmButtonText="确认删除"
                                            cancelButtonText="取消"
                                            confirmButtonType="danger"
                                            cancelButtonType="success"
                                            @onConfirm="delete_experiment(scope.row.id)"
                                            title="确认删除该实验信息吗？">
                                        <el-button size="mini" slot="reference" type="danger" icon="el-icon-delete">
                                        </el-button>
                                    </el-popconfirm>
                                    <!--<el-button size="mini" type="danger" slot="reference" icon="el-icon-delete"-->
                                    <!--@click="delete_user(scope.row.id)"></el-button>-->
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                                @size-change="page_size_change"
                                @current-change="current_change"
                                :current-page="page_data.current_page"
                                :page-sizes="[5, 10, 15, 50]"
                                :page-size="page_data.page_size"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="page_data.page_total"
                                style="margin-top:10px"
                        ></el-pagination>
                    </div>
                </el-card>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>

<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<!--<script src="https://cdn.bootcss.com/element-ui/2.13.2/index.js"></script>-->
<script src="js/index.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script src="js/common.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            tableData: [],
            user: {},
            password_input_state: false,
            dialog_title: "",
            user_form: {
                realname: "",
                username: "",
                phone: "",
                birth: "",
                role: ""
            },
            pickerOptions: { //控制时间范围
                disabledDate(time) {
                    return time.valueOf() > new Date().valueOf()
                }
            },
            edit_carSave: {
                car: {}
            },
            add_carSave: {},
            carData: [],
            dialogFormVisible: false,
            addCarSaveVisible: false,
            formLabelWidth: '120px',
            carSave_data: [],
            page_data: {
                page_size: 5,
                current_page: 1,
                page_total: 200,
            },
        },
        methods: {
            logout() {
                axios.post("user/logout").then(()=> {
                    location.href="login.html";
                })
            },
            verify() {
                axios.get("user/verify").then(({data}) => {
                    if (data) {
                        this.user = data;
                        this.getAllCarSaveData();
                    } else {
                        location.href = "login.html"
                    }
                })
            },
            getAllCarSaveData() {
                axios.get("carSave/" + this.page_data.current_page + "/" + this.page_data.page_size).then(({data}) => {
                    this.carSave_data = data.data;
                    this.carSave_data.forEach(data => {
                        data.save_date = data.save_date.substring(0, 10);
                    });
                    this.page_data.page_total = data.total;
                })
            },
            addCarSave() {
                this.addCarSaveVisible = true;
                //获取全部车辆
                axios.get("car/getAllCars").then(({data}) => {
                    this.car_data=data;
                })
            },
            editor_car_Save(id) {
                this.dialogFormVisible = true;
                axios.get("carSave/getCarSaveById/" + id).then(({data}) => {
                    this.edit_carSave = data;
                })
                // this.user_form = this.user_data[index];
                // this.dialog_title = "修改（" + this.user_data[index].user_name + "）";
                // this.dialog_viside_state = true;
            },
            update_carSave() {
                this.edit_carSave.save_date=lab.formatDate(this.edit_carSave.save_date);
                axios.put("carSave/updateCarSave/" + this.edit_carSave.id, this.edit_carSave).then(({data}) => {
                    if (data.flag) {
                        this.$message.success(data.message);
                        setTimeout(() => {
                            location.href = "carSave-manage.html";
                        }, 1000);
                    } else {
                        this.$message.error(data.message);
                    }
                });
            },
            insert_carSave() {
                this.add_carSave.save_date=lab.formatDate(this.add_carSave.save_date);
                axios.post("carSave/addCarSave/"+this.user.id, this.add_carSave).then(({data}) => {
                    if (data.flag) {
                        this.$message.success(data.message);
                        setTimeout(() => {
                            location.href = "carSave-manage.html";
                        }, 1000);
                    } else {
                        this.$message.error(data.message);
                    }
                });
            },
            delete_experiment(id) {
                axios.delete('deleteExperiment?id=' + id).then(() => this.getAllCarSaveData())
            },
            show_selection() {
                this.$message.success("已打印选择数据成功，请打开检查查看");
                console.log(this.selection_data);
            },
            page_size_change(page_size) {
                this.page_data.page_size = page_size;
            },
            current_change(click_page) {
                this.page_data.current_page = click_page;
            },
            //查找所有的车辆
            querySearchCar(queryString, cb) {
                var carData = this.car_data;
                var results = queryString ? carData.filter(this.createFilterCar(queryString)) : carData;
                // 调用 callback 返回建议列表的数据
                cb(results);
            },
            createFilterCar(queryString) {
                return (car) => {
                    return (car.car_num.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                };
            },
        },
        created() {
            this.verify();
        },
        watch: {
            page_data: {
                deep: true,
                handler() {
                    this.getAllCarSaveData();
                },
            },
        },
    })
</script>
</html>