<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实验汇总</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.13.2/theme-chalk/index.css">
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container style="height: 600px; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="['1','2']"
                     default-active="1-1">
                <el-submenu index="1">
                    <!--教育局功能-->
                    <template slot="title"><i class="el-icon-folder-opened"></i>实验管理</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1" @click="location.href='eubreau.html'"><i
                                class="el-icon-document-checked"></i>实验申请列表
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="2">
                    <!--教育局功能-->
                    <template slot="title"><i class="el-icon-folder-opened"></i>车辆列表</template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1" @click="location.href='carApplyRecord.html' "><i
                                class="el-icon-document"></i>用车申请记录
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown style="padding-top: 10px;">
                      <span class="el-dropdown-link">
                        <el-avatar :src="user.avatar"></el-avatar>
                      </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>
                            <i class="el-icon-user"></i>
                            <el-link href="#">个人中心</el-link>
                        </el-dropdown-item>
                        <el-dropdown-item divided>
                            <i class="el-icon-right"></i>
                            <el-link @click="logout">退出</el-link>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-header>

            <el-main>
                <el-card shadow="never" class="card">
                    <div slot="header" class="clearfix">
                        <span>实验申请记录</span>
                    </div>
                    <div id="charts_one" style="width:100%;min-height:300px">
                        <el-form :inline="true">
                            <el-form-item label="审核状态">
                                <el-select v-model="page_data.search.state" placeholder="审核状态">
                                    <el-option v-for="(option, index) in options" :key="option.value"
                                               :label="option.name" :value="option.value"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-form>
                        <el-table
                                :data="experiment_data"
                                max-height="350"
                                border
                                :default-sort = "{prop: 'experi_date', order: 'descending'}"
                                style="width: 100%">
                            <el-table-column type="index" label="序号" width="50" align="center"></el-table-column>
                            <el-table-column label="实验名称" align="center">
                                <template slot-scope="scope">
                                    {{scope.row.experiment.experi_name}}
                                </template>
                            </el-table-column>
                            <el-table-column property="schoolName" label="学校名称" align="center"></el-table-column>
                            <el-table-column property="principal" label="负责人" align="center"></el-table-column>
                            <el-table-column property="phone_number" label="联系方式" align="center"></el-table-column>
                            <el-table-column property="experi_date" label="实验日期" align="center" sortable></el-table-column>
                            <el-table-column label="实验人数" property="experi_num" align="center"></el-table-column>
                            <el-table-column label="审核状态" align="center">
                                <template slot-scope="scope">
                                    <el-tag :type="scope.row.state === 0 ? '' : (scope.row.state === 1 ? 'success' : 'danger')">
                                        {{scope.row.state === 0 ? '未审核' : (scope.row.state === 1 ? '已通过' : '未通过')}}
                                    </el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column label="操作" width="120" align="center">
                                <template slot-scope="scope">
                                    <el-tooltip class="item" effect="dark" content="查看详情" placement="left">
                                        <el-button type="primary" size="mini" @click="checkDetail(scope.row.id)"
                                                   icon="el-icon-edit" circle></el-button>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="申请用车" placement="right">
                                        <el-button v-show="scope.row.state === 1" :disabled="scope.row.eduStatus === 1 || scope.row.eduStatus === 2" type="warning" size="mini"
                                                   @click="applyCar(scope.row.id)" icon="el-icon-truck"
                                                   circle></el-button>
                                    </el-tooltip>
                                    <!--实验详情模态框-->
                                    <el-dialog width="42%" center :visible.sync="dialogFormVisible" top="8vh">
                                        <div slot="title" class="dialog-title">
                                            <h2>查看实验详情</h2>
                                        </div>
                                        <el-form :model="experiment_detail" status-icon="true">
                                            <el-form-item prop="experi_name" label="实验名称">
                                                <el-input prefix-icon="el-icon-user"
                                                          :disabled="true"
                                                          v-model="experiment_detail.principal"
                                                          autocomplete="off" style=" width: 222px"></el-input>
                                            </el-form-item>
                                            <el-form-item prop="schoolName" label="学校名称">
                                                <el-input prefix-icon="el-icon-school"
                                                          :disabled="true"
                                                          v-model="experiment_detail.schoolName"
                                                          autocomplete="off" style=" width: 222px"></el-input>
                                            </el-form-item>
                                            <el-form-item prop="gradeClass" label="班&emsp;&emsp;级">
                                                <el-input prefix-icon="el-icon-price-tag"
                                                          :disabled="true"
                                                          v-model="experiment_detail.gradeClass"
                                                          autocomplete="off" style=" width: 222px"></el-input>
                                            </el-form-item>
                                            <el-form-item prop="principal" label="负&ensp;责&ensp;人">
                                                <el-input prefix-icon="el-icon-user"
                                                          :disabled="true"
                                                          v-model="experiment_detail.principal"
                                                          autocomplete="off" style=" width: 222px"></el-input>
                                            </el-form-item>

                                            <el-form-item prop="phone_number" label="联系方式">
                                                <el-input prefix-icon="el-icon-phone-outline"
                                                          style=" width: 222px"
                                                          :disabled="true"
                                                          placeholder="请输入联系方式"
                                                          v-model="experiment_detail.phone_number"
                                                          autocomplete="off"
                                                          clearable></el-input>
                                            </el-form-item>
                                            <el-form-item prop="experi_date" label="实验日期">
                                                <el-date-picker type="date"
                                                                style=" width: 222px"
                                                                :disabled="true"
                                                                v-model="experiment_detail.experi_date"
                                                ></el-date-picker>
                                            </el-form-item>
                                            <el-form-item prop="experi_num" label="实验人数">
                                                <el-input prefix-icon="el-icon-user"
                                                          style=" width: 222px"
                                                          :disabled="true"
                                                          v-model="experiment_detail.experi_num" autocomplete="off"
                                                          clearable></el-input>
                                            </el-form-item>
                                            <el-form-item prop="instruction" label="申请说明">
                                                <el-input prefix-icon="el-icon-lock"
                                                          style=" width: 222px"
                                                          :disabled="true"
                                                          type="textarea"
                                                          v-model="experiment_detail.instruction"></el-input>
                                            </el-form-item>
                                            <el-form-item prop="result" label="驳回原因"
                                                          v-show="experiment_detail.state===2">
                                                <el-input prefix-icon="el-icon-lock"
                                                          style=" width: 222px"
                                                          :disabled="true"
                                                          type="textarea"
                                                          v-model="experiment_detail.result"></el-input>
                                            </el-form-item>
                                        </el-form>
                                        <div slot="footer" class="dialog-footer" v-show="experiment_detail.state===0">
                                            <el-tooltip class="item" effect="dark" content="驳回" placement="top-start">
                                                <el-button type="danger" @click="reject" icon="el-icon-edit"
                                                           circle></el-button>
                                            </el-tooltip>
                                            <el-tooltip class="item" effect="dark" content="通过审核" placement="top-end">
                                                <el-popconfirm
                                                        confirmButtonText="确认删除"
                                                        cancelButtonText="取消"
                                                        confirmButtonType="danger"
                                                        cancelButtonType="success"
                                                        @onConfirm="updateState"
                                                        title="确认通过审核吗？">
                                                    <el-button type="success"  slot="reference"  icon="el-icon-check"
                                                               circle></el-button>
                                                </el-popconfirm>
                                            </el-tooltip>
                                        </div>
                                    </el-dialog>

                                    <!--用车申请模态框-->
                                    <el-dialog width="42%" center :visible.sync="carApplyDialog" top="8vh">
                                        <div slot="title" class="dialog-title">
                                            <h2>填写用车申请人信息</h2>
                                        </div>
                                        <el-form :model="eduCarApplyInfo"
                                                 status-icon="true"
                                                 :rules="carApplyRules">
                                            <el-form-item prop="edu_principal" label="负&ensp;责&ensp;人">
                                                <el-input prefix-icon="el-icon-user"
                                                          placeholder="用车申请负责人"
                                                          v-model="eduCarApplyInfo.edu_principal"
                                                          autocomplete="off" style=" width: 222px"></el-input>
                                            </el-form-item>

                                            <el-form-item prop="edu_phone" label="联系方式">
                                                <el-input prefix-icon="el-icon-phone-outline"
                                                          style=" width: 222px"
                                                          placeholder="请输入联系方式"
                                                          v-model="eduCarApplyInfo.edu_phone"
                                                          autocomplete="off"
                                                          clearable></el-input>
                                            </el-form-item>

                                            <el-form-item prop="edu_instruction" label="用车说明">
                                                <el-input prefix-icon="el-icon-lock"
                                                          style=" width: 222px"
                                                          placeholder="请输入用车说明"
                                                          type="textarea"
                                                          v-model="eduCarApplyInfo.edu_instruction"></el-input>
                                            </el-form-item>
                                        </el-form>
                                        <div slot="footer" class="dialog-footer">
                                            <el-button type="primary" @click="uploadCarApply">提交申请</el-button>
                                        </div>
                                    </el-dialog>
                                    <!--<el-button size="mini" type="danger" slot="reference" icon="el-icon-delete"-->
                                    <!--@click="delete_user(scope.row.id)"></el-button>-->
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                                @size-change="page_size_change"
                                @current-change="current_change"
                                :current-page="page_data.current_page"
                                :page-sizes="[5, 10, 15, 50]"
                                :page-size="page_data.page_size"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="page_data.page_total"
                                style="margin-top:10px"
                        ></el-pagination>
                    </div>
                </el-card>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="js/index.js"></script>
<!--<script src="https://cdn.bootcss.com/element-ui/2.13.2/index.js"></script>-->
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script src="js/common.js"></script>

<script>
    new Vue({
        el: "#app",
        data: {
            tableData: [],
            user: {},
            experiment_data: [],
            page_data: {
                page_size: 10,
                current_page: 1,
                page_total: 200,
                search: {
                    state: -1
                }
            },
            eduCarApplyInfo: {},
            dialogFormVisible: false,
            experiment_detail: [],
            options: [
                {value: -1, name: "全部"},
                {value: 0, name: "未审核"},
                {value: 1, name: "已通过"},
                {value: 2, name: "未通过"},
            ],
            applyId: -1,
            carApplyDialog: false,
            applyRecord: [],

            carApplyRules: {
                edu_principal: [
                    {required: true, message: '请输入负责人名称', trigger: 'blur'},
                    {min: 2, max: 5, message: '长度在 4 到 5 个字符', trigger: 'blur'}
                ],
                edu_phone: [{required: true, message: '请输入联系方式', trigger: 'blur'},
                    {min: 11, max: 11, message: '请输入准确的11位手机号码', trigger: 'blur'}],
                edu_instruction: [{required: true, message: '请输入申请说明', trigger: 'blur'}],
            }
        },
        methods: {
            verify() {
                axios.get("user/verify").then(({data}) => {
                    if (data) {
                        this.user = data;
                        this.getPageExperimentData();
                    } else {
                        location.href = "login.html"
                    }
                })
            },
            logout() {
                axios.post("user/logout").then(()=> {
                    location.href="login.html";
                })
            },
            updateState() {
                axios.post("experimentApply/" + this.experiment_detail.id + "/state/" + 1).then(({data}) => {
                    if (data.flag) {
                        this.$message.success(data.message);
                        location.href = "eubreau.html"
                    } else {
                        this.$message.error(data.message)
                    }
                })
            },
            reject() {
                this.$prompt('请输入驳回原因', '原因', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                }).then(({value}) => {
                    axios.post("experimentApply/" + this.experiment_detail.id + "/state/" + 2 + "/result/" + value)
                        .then(({data}) => {
                            if (data.flag) {
                                this.$message.success(data.message);
                                location.href = "eubreau.html"
                            } else {
                                this.$message.error(data.message)
                            }
                        })
                })
            },
            checkDetail(id) {
                this.dialogFormVisible = true;
                axios.get("experimentApply/getById/" + id).then(({data}) => {
                    this.experiment_detail = data;
                    this.experiment_detail.gradeClass=this.experiment_detail.classes.grade.name+this.experiment_detail.classes.name
                })
            },
            // 查询所有用车申请记录
            getAllRecord(){
                axios.get("carApply/selectAllRecord").then(({data}) => {
                    this.applyRecord=data;
                })
            },
            getPageExperimentData() {
                axios.get("experimentApply/" + this.user.id + "/" + this.page_data.current_page + "/" + this.page_data.page_size + "?state=" + this.page_data.search.state).then(({data}) => {
                    this.experiment_data = data.data;
                    this.experiment_data.forEach(data => {
                        data.experi_date = data.experi_date.substring(0, 10);
                    })
                    this.page_data.page_total = data.total;
                    // if (data.flag) {
                    //     this.$message.success(data.message)
                    // } else {
                    //     this.$message.error(data.message)
                    // }
                })
            },
            page_size_change(page_size) {
                this.page_data.page_size = page_size;
            },
            current_change(click_page) {
                this.page_data.current_page = click_page;
            },
            applyCar(applyId) {
                this.carApplyDialog = true;
                this.applyId = applyId;
            },
            uploadCarApply() {
                axios.post("carApply/" + this.applyId + '/' + this.user.id, this.eduCarApplyInfo).then(({data}) => {
                    if (data.flag) {
                        this.$message.success(data.message);
                        location.href = "eubreau.html";
                    } else {
                        this.$message.error(data.message)
                    }
                })
            }
        },
        created() {
            this.verify();
            this.getAllRecord();
        },
        watch: {
            page_data: {
                deep: true,
                handler() {
                    this.getPageExperimentData();
                }
            }
        }
    })
</script>
</html>