<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学校班级管理</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.13.2/theme-chalk/index.css">
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container style="height: 600px; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="['1', '2']"
                     default-active="1-1">
                <el-submenu index="1">
                    <!--学校功能-->
                    <template slot="title"><i class="el-icon-tickets"></i>年级管理</template>
                    <el-menu-item-group>
                        <el-menu-item index="1-1" @click="location.href='school-grade.html' "><i
                                class="el-icon-notebook-2"></i>年级列表
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
                <el-submenu index="2">
                    <!--学校功能-->
                    <template slot="title"><i class="el-icon-folder-opened"></i>实验管理</template>
                    <el-menu-item-group>
                        <el-menu-item index="2-1" @click="location.href='school.html' "><i
                                class="el-icon-document-checked"></i>实验申请记录
                        </el-menu-item>
                    </el-menu-item-group>

                </el-submenu>
                <!--<el-submenu index="3">-->
                    <!--&lt;!&ndash;学校功能&ndash;&gt;-->
                    <!--<template slot="title"><i class="el-icon-tickets"></i>课程安排</template>-->
                    <!--<el-menu-item-group>-->
                        <!--<el-menu-item index="3-1"><i class="el-icon-notebook-1"></i>课程表</el-menu-item>-->
                        <!--&lt;!&ndash;<el-menu-item index="2-2">选项2</el-menu-item>&ndash;&gt;-->
                    <!--</el-menu-item-group>-->
                <!--</el-submenu>-->
            </el-menu>
        </el-aside>

        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <el-dropdown style="padding-top: 10px;">
                      <span class="el-dropdown-link">
                        <el-avatar :src="user.avatar"></el-avatar>
                      </span>
                    <el-dropdown-menu slot="dropdown">
                        <!--<el-dropdown-item>-->
                        <!--<i class="el-icon-user"></i>-->
                        <!--<el-link href="#">个人中心</el-link>-->
                        <!--</el-dropdown-item>-->
                        <el-dropdown-item>
                            <!--<i class="el-icon-right"></i>-->
                            <el-link @click="logout">退出</el-link>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-header>

            <el-main>
                <el-card shadow="never" class="card">
                    <div slot="header" class="clearfix">
                        <span>年级列表</span>
                        <el-button
                                type="success"
                                size="small"
                                icon="el-icon-plus"
                                style="float:right"
                                @click="addGrade"
                        >新增
                        </el-button>
                        <!--新增实验信息对话框-->
                        <el-dialog title="年级信息" :visible.sync="addGradeVisible">
                            <el-form>
                                <el-form-item label="新增年级">
                                    <el-select v-model="add_grade" placeholder="请选择要添加的年级">
                                        <el-option
                                                v-for="grade in options"
                                                :key="grade.value"
                                                :label="grade.label"
                                                :value="grade.label">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-form>

                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取 消</el-button>
                                <el-button type="primary" @click="insert_grade">确 定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                    <div id="charts_one" style="width:100%;min-height:300px">
                        <el-table
                                :data="grade_data"
                                max-height="350"
                                border
                                style="width: 100%">
                            <el-table-column type="index" label="序号" width="50" align="center"></el-table-column>
                            <el-table-column property="schoolName" align="center" label="学校名称"></el-table-column>
                            <el-table-column property="name" label="年级名称" align="center"></el-table-column>
                            <el-table-column label="操作" width="180" align="center">
                                <template slot-scope="scope">
                                    <el-tooltip class="item" effect="dark" content="添加班级" placement="top-start">
                                        <el-button size="mini" type="primary" icon="el-icon-edit"
                                                   @click="addClassToGrade(scope.row.id)">
                                        </el-button>
                                    </el-tooltip>
                                    <el-tooltip class="item" effect="dark" content="查看该年级的班级" placement="right-start">
                                            <el-button @click="jumpToSchoolClass(scope.row.id)" size="mini" type="warning" icon="el-icon-s-promotion" ></el-button>
                                    </el-tooltip>
                                    <!--<el-button size="mini" type="danger" slot="reference" icon="el-icon-delete"-->
                                    <!--@click="delete_user(scope.row.id)"></el-button>-->
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-dialog title="添加班级" :visible.sync="dialogFormVisible">
                            <el-form inline="true" :model="add_classes">
                                <el-form-item prop="name" label="年级名称">
                                    <el-input prefix-icon="el-icon-user"
                                              disabled
                                              v-model="add_classes.name"
                                              style="width: 300px"
                                              autocomplete="off"
                                              clearable></el-input>
                                </el-form-item>
                                <el-form-item prop="classes_id"
                                              v-for="(classes, index) in classList"
                                              label="班级名称">
                                    <el-input placeholder="班级名称（例如：1班）"
                                              v-model="classes.name"
                                              class="input-with-select"
                                              style="width: 222px">
                                    </el-input>
                                    <el-button @click.prevent="removeClass(classes)">删除</el-button>
                                </el-form-item>

                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-row>
                                    <el-col :span="2" :push="10">
                                        <el-button @click="addClass">继续新增</el-button>
                                    </el-col>
                                    <el-col :span="6" :push="16">
                                        <el-button @click="dialogFormVisible = false">取 消</el-button>
                                        <el-button type="primary" @click="insert_classes">确 定</el-button>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-dialog>
                        <el-pagination
                                @size-change="page_size_change"
                                @current-change="current_change"
                                :current-page="page_data.current_page"
                                :page-sizes="[5, 10, 15, 50]"
                                :page-size="page_data.page_size"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="page_data.page_total"
                                style="margin-top:10px"
                        ></el-pagination>
                    </div>
                </el-card>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>

<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<!--<script src="https://cdn.bootcss.com/element-ui/2.13.2/index.js"></script>-->
<script src="js/index.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
<script src="js/common.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            tableData: [],
            user: {},
            password_input_state: false,
            dialog_title: "",
            user_form: {
                realname: "",
                username: "",
                phone: "",
                birth: "",
                role: ""
            },
            options: [
                {
                    label: '一年级'
                }, {
                    label: '二年级'
                }, {
                    label: '三年级'
                }, {
                    label: '四年级'
                }, {
                    label: '五年级'
                }, {
                    label: '六年级'
                }, {
                    label: '七年级'
                }, {
                    label: '八年级'
                }, {
                    label: '九年级'
                }, {
                    label: '高一'
                }, {
                    label: '高二'
                }, {
                    label: '高三'
                }
            ],
            pickerOptions: { //控制时间范围
                disabledDate(time) {
                    return time.valueOf()> new Date().valueOf()
                }
            },
            add_classes: {},
            classList: [{name: ''}],
            add_grade: {},
            dialogFormVisible: false,
            addGradeVisible: false,
            formLabelWidth: '120px',
            grade_data: [],
            page_data: {
                page_size: 5,
                current_page: 1,
                page_total: 200,
            },
            gradeId: -1
        },
        methods: {
            logout() {
                axios.post("user/logout").then(()=> {
                    location.href="login.html";
                })
            },
            verify() {
                axios.get("user/verify").then(({data}) => {
                    if (data) {
                        this.user = data;
                        this.getAllGradeData();
                    } else {
                        location.href = "login.html"
                    }
                })
            },
            getAllGradeData() {
                axios.get("grade/" + this.user.id + "/" + this.page_data.current_page + "/" + this.page_data.page_size).then(({data}) => {
                    this.grade_data = data.data;
                    this.page_data.page_total = data.total;
                    // this.user_data.forEach(data => {
                    //     data.birth = data.birth.substring(0, 10);
                    // })
                })
            },
            addGrade() {
                this.addGradeVisible = true;
            },
            addClassToGrade(id) {
                this.dialogFormVisible = true;
                this.gradeId = id;
                axios.get("grade/getByGradeId/" + id).then(({data}) => {
                    this.add_classes = data;
                })
                // this.user_form = this.user_data[index];
                // this.dialog_title = "修改（" + this.user_data[index].user_name + "）";
                // this.dialog_viside_state = true;

            },
            update_experiment() {
                axios.post("updateExperiment/" + this.edit_experiment.id, this.edit_experiment).then(({data}) => {
                    if (data.flag) {
                        this.$message.success(data.message);
                        setTimeout(() => {
                            location.href = "experi-manage.html";
                        }, 1000);
                    } else {
                        this.$message.error(data.message);
                    }
                });
            },
            insert_grade() {
                axios.post("grade/addGrade/" + this.user.id, {
                    name: this.add_grade
                }).then(({data}) => {
                    if (data.flag) {
                        this.$message.success(data.message);
                        setTimeout(() => {
                            location.href = "school-grade.html";
                        }, 1000);
                    } else {
                        this.$message.error(data.message);
                    }
                });
            },
            delete_experiment(id) {
                axios.delete('deleteExperiment?id=' + id).then(() => this.getAllExperimentData())
            },
            page_size_change(page_size) {
                this.page_data.page_size = page_size;
            },
            current_change(click_page) {
                this.page_data.current_page = click_page;
            },
            removeClass(classes) {
                let index = this.classList.indexOf(classes);
                if (index !== -1) {
                    this.classList.splice(classes, 1)
                }
            },
            addClass() {
                this.classList.push({name: ''})
            },
            insert_classes() {
                let classNameList = this.classList.map(classes => classes.name);
                axios.post("grade/insert_classes/" + this.gradeId, {classList: classNameList}).then(({data}) => {
                    if (data.flag) {
                        this.$message.success(data.message);
                        setTimeout(() => {
                            location.href = 'school-grade.html'
                        }, 1000);
                    } else {
                        this.$message.error(data.message);
                    }
                }).catch(() => {
                    this.$message.error("服务器繁忙，请稍候再试！")
                })
            },
            jumpToSchoolClass(gradeId) {
                location.href='school-class.html?gradeId=' + gradeId
            }
        },
        created() {
            this.verify();

        },
        watch: {
            page_data: {
                deep: true,
                handler() {
                    this.getAllGradeData();
                },
            },
        },
    })
</script>
</html>